*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
$bk-ground:rgb(41, 36, 36);
$color:rgb(219, 213, 213);

body{
    background-color: $bk-ground;
    color: $color;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.field{
    width: 500px;
    height: 500px;
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    &__square{
        width: 50px;
        height: 50px;
        border: 1px solid #8a7a7a;
        outline: none;
        cursor: pointer;
    }
}
.menu{
    font-size: 25px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    &__item{
        display: flex;
    }
}
.select{
    font-size: 25px;
    height: 27px;
    overflow: hidden;
    display: flex;
    width: 205px;
    justify-content: space-around;
    &__option{
        cursor: pointer;
    }
}
.option-active{
    color: red;
    order: -1;
}
.levels-active{
    height: auto;
}
.flag-png{
    width: 30px;
    height: 30px;
}